@use 'src/styles/vars';

.card{
  border: solid rgb(84, 186, 233) 4px;
  border-radius: 15px;
  padding: 2rem;
  width: 30%;
  background-color: rgba(94, 252, 252, 0.2); 
  box-shadow: 0 0 20px rgba(140, 255, 255, 0.5); 
  transition: all 0.3s ease 0s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  
  &:hover {
      transform: translateY(-7px);
  }

    &_img{
      width: 40%;
      border-radius: 15px;
      border: solid rgb(84, 186, 233) 2px ;
    }

    &_title{
      font-size: 3rem;
      font-family: vars.$primary-font;
      font-weight: bold;
      color: rgb(255, 153, 0);
      
        &:hover{
          text-decoration: underline;
        }
    }

    &_text{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      line-height: 25px;
      font-size: 1.2rem;
    }

    &_disclaimer{
      font-style: italic;
      
    }

    &_subtitle{
      font-family: vars.$primary-font;
      font-size: 2rem;
      color: aquamarine;
    }

    &_github{
      color: rgb(255, 153, 0);
      font-size: 2rem;
    }

    &_allgithub{
      display: flex;
      justify-content: center;
    }
}


