// Generic
$primary-color: rgb(7, 49, 77);
$alt-color: rgb(198, 107, 250);
$dark-color: #0e0a1f;
$light-color: #fff;
$gutter: 2rem;

// Global
$global-font: 'Roboto', sans-serif;
$global-font-weight: 300;

// Title
$title-font: 'Oswald', sans-serif;
$title-font-weight: 500;
$title-color: #000;

// Post
$post-text-color: #666;
$post-hover-color: #f7f7f7;
