@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


// Generic
$primary-color: rgb(16, 18, 49);
$alt-color: rgb(198, 107, 250);
$secund-color: rgb(223, 147, 103);
$light-color: #fff;

//Font
$primary-font:'Dancing Script', cursive;
