@use 'src/styles/vars';

.cv{
  
  &_image{
  margin-top: 3rem;
  width: 375px;
  height: 500px;
  box-shadow: 0 0 20px rgba(140, 255, 255, 0.5);
    &:hover {
      transform: translateY(-7px);
    }
  }

  &_title{
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-family: vars.$primary-font;
    font-weight: bold;
    color: white;
  }

  &_element{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

    &_icon{
      color: white;
      font-size: 7rem;
    }
  }
}
